/* Fontamilies */

/* Universal Style */

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.button {
  color: white;
  background-color: #484848;
  padding: 0.5rem 0;
  text-align: center;
}

.button a {
  color: white;
  font-size: 1rem;
  font-family: "Open Sans";
}

.grey {
  color: gray;
}

/* Header and Navigation */

header {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 1.5rem;
}

.header_contents {
  height: 2rem;
  display: flex;
  align-items: center;
}

.header_contents span {
  font-style: bold;
}

nav a {
  padding-left: 1rem;
}

/* Banner */

#banner {
  background-color: gainsboro;
}

#banner .img_container {
  width: 60%;
  margin: 0 1.5rem;
}

#banner .img_container img {
  width: 100%;
}

#banner h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 2.5rem;
  font-style: bold;
  padding: 1rem 0;
}

#banner h2 {
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 400;
  font-size: 1.25rem;
  padding: 1rem 0;
}

#banner_text {
}
/* Information */

/* Course Work */

/* Research and Exhibits  */

/* Footer */
